* {
  list-style: none;
  text-decoration: none;
  margin: 3px;
}

//filtros

.filter__container {
  border-radius: 5px;
  background: #bbf7f1d3;
  width: auto;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  @media all and (min-width: 768px) {
    width: 550px;
  }
}

.filter__radio {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0 10px 0;
  @media all and (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
  }
}

.form__label {
  padding: 2px 2px 0 2px;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  @media all and (min-width: 768px) {
    margin: 0 3px 0 15px;
    align-items: center;
    justify-content: center;
  }
}

//lista de chistes

.joke {
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
    @media all and (min-width: 768px) {
      align-items: flex-start;
    }
  }
}

//punchline

.punch {
  font-size: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.card__btn {
  margin: 0;
  width: 170px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
