* {
  list-style: none;
  text-decoration: none;
  margin: 5px;
}
.filter__container {
  border-radius: 5px;
  background: #bbf7f1d3;
  width: 550px;
  padding: 20px;
  text-align: center;
}

.form__label {
  margin-left: 30px;
}
.punch {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
